/*  your css code here. If applicable */
.root{
	
	
}
.first-child{
	background-color:black;
	color:white;
}
.nth-child(2){
	
}
.last-child{
	color: red;
}
li{
	width:50%;
	padding:10px;
	background-color:grey;
}
#l1{
	font-size:22px;
}
#pink{
	background-color:pink;
}